
# Ignore environment files
.env
env/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Django's default SQLite DB
db.sqlite3

# Ignore VSCode settings (if you're using it)
.vscode/

.DS_Store